@page "/addproduct"
@using BlazorServerFrontend.DTOs
@using BlazorServerFrontend.Services
@inject ProductsService ProductsService
@inject HttpClient Http

<h3>Add New Product</h3>

<EditForm Model="@productRequest" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label for="name">Name:</label>
        <InputText id="name" class="form-control" @bind-Value="@productRequest.Name" />
    </div>

    <div class="form-group">
        <label for="price">Price:</label>
        <InputNumber id="price" class="form-control" @bind-Value="@productRequest.Price" />
    </div>

    <div class="form-group">
        <label for="productTypeId">Product Type ID:</label>
        <InputSelect id="productTypeId" class="form-control" @bind-Value="@productRequest.ProductTypeId">
            @foreach (var productType in productTypes)
            {
                <option value="@productType.Id">@productType.Name</option>
            }
        </InputSelect>
    </div>

    <button type="submit" class="btn btn-primary" disabled="@string.IsNullOrEmpty(productRequest.Name)">Add Product</button>
</EditForm>


<button type="submit" class="btn btn-primary" @onclick="PostFakeProduct">Add Product From External API</button>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="products">
        <span class="oi oi-arrow-thick-left" aria-hidden="true"></span> Products
    </NavLink>
</div>

@if (successMessage != null)
{
    <div class="alert alert-success">@successMessage</div>
}

@if (errorMessage != null)
{
    <div class="alert alert-danger">@errorMessage</div>
}

@if (productResponse != null)
{
    <table class="table">
        <thead>
            <tr>
                <th class="center-align">Id</th>
                <th class="center-align">Name</th>
                <th class="center-align">Product Type Name</th>
                <th class="center-align">Price</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td class="center-align">@productResponse.Id</td>
                <td class="center-align">@productResponse.Name</td>
                <td class="center-align">@productResponse.ProductTypeName</td>
                <td class="center-align">@productResponse.Price</td>

            </tr>

        </tbody>
    </table>
}




@code {
    private ProductRequest productRequest = new ProductRequest();
    private ProductResponse productResponse;
    private string errorMessage;
    private string successMessage;
    private List<ProductTypeResponse> productTypes = new List<ProductTypeResponse>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            productTypes = await Http.GetFromJsonAsync<List<ProductTypeResponse>>("http://localhost:8082/product-types");
        }
        catch (Exception ex)
        {
            errorMessage = $"Error fetching product types: {ex.Message}";
        }
    }

    private void HandleValidSubmit()
    {
        PostProduct(productRequest);
    }

    private async Task PostProduct(ProductRequest productRequest)
    {
        errorMessage = null;
        successMessage = null;
        productResponse = null;
        try
        {
            productResponse = await ProductsService.PostProductAsync(productRequest);
            successMessage = $"Successfully added product '{productResponse.Name}'.";
            this.productRequest = new ProductRequest();
        }
        catch (Exception ex)
        {
            errorMessage = $"Can't add product: {ex.Message}";
        }
        StateHasChanged();
    }

    private async void PostFakeProduct()
    {
        errorMessage = null;
        successMessage = null;
        productResponse = null;
        try
        {
            productResponse = await ProductsService.PostFakeProductAsync();
            successMessage = $"Successfully added product '{productResponse.Name}'.";
            this.productRequest = new ProductRequest();
        }
        catch (Exception ex)
        {
            errorMessage = $"Can't add product: {ex.Message}";
        }
        StateHasChanged();
    }
}