@page "/purchases"

@using BlazorServerFrontend.Services
@using BlazorServerFrontend.DTOs

@inject PurchasesService PurchasesService
@inject NavigationManager NavigationManager

<h1>Purchase History</h1>

<table class="table">
    <thead>
        <tr>
            <th class="center-align">Purchase Id</th>
            <th class="center-align">Purchase Date</th>
            <th class="center-align">Customer Id</th>
            <th class="center-align">Amount</th>
            <th class="center-align">Recommender Id</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (purchases != null)
        {
            @foreach (var purchase in purchases)
            {
                <tr>
                    <td class="center-align">@purchase.Id</td>
                    <td class="center-align">@purchase.PurchaseDate.Date.ToString("yyyy-MM-dd")</td>
                    <td class="center-align">@purchase.CustomerId</td>
                    <td class="center-align">@purchase.Amount</td>
                    <td class="center-align">@purchase.RecommenderId</td>
                    <td class="center-align">
                        <button class="btn btn-primary" @onclick="() => AddToCart(purchase)">View details</button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


@code {
    private List<PurchaseResponse> purchases;

    protected override async Task OnInitializedAsync()
    {
        purchases = await PurchasesService.GetPurchasesAsync();
    }

    private void AddToCart(PurchaseResponse purchase)
    {
        NavigationManager.NavigateTo($"/purchasedetails/{purchase.Id}");
    }
}
